@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');

@import 'ngx-toastr/toastr';

@import url("../node_modules/primeng/resources/themes/saga-orange/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import url("../node_modules/primeicons/primeicons.css");


a,h1,h2,h3,h4,h5,h6,p,button{
    font-family: 'Baloo 2', cursive;
}
html{
    scroll-behavior: smooth;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
